@theme-color-primary: #42cc60;
@theme-color-primary-darker: darker(@theme-color-primary, 10);
@theme-color-primary-darkest: darker(@theme-color-primary, 30);
@theme-color-primary-lighter: lighter(@theme-color-primary, 10);
@theme-color-primary-lightest: lighter(@theme-color-primary, 30);

@theme-color-secondary: #d8b518;
@theme-color-secondary-darker: darker(@theme-color-secondary, 10);
@theme-color-secondary-darkest: darker(@theme-color-secondary, 30);
@theme-color-secondary-lighter: lighter(@theme-color-secondary, 10);
@theme-color-secondary-lightest: lighter(@theme-color-secondary, 30);

@theme-block-bg-color: #e8e8e8;
@theme-block-text-color: #4444;
@theme-block-link-color: royalblue;

@theme-block-box-shadow-normal: 0 0 4px 3px #00000030;
@theme-block-border-radius: 3px;

@theme-button-border-radius: 3px;

@theme-iconbutton-size: 30px;
