@theme-color-primary: #42cc60;
@theme-color-primary-darker: darken(@theme-color-primary, 10);
@theme-color-primary-darkest: darken(@theme-color-primary, 30);
@theme-color-primary-lighter: lighten(@theme-color-primary, 10);
@theme-color-primary-lightest: lighten(@theme-color-primary, 30);
@theme-primary-text-color: #f0f0f0;

@theme-color-secondary: #d8b518;
@theme-color-secondary-darker: darken(@theme-color-secondary, 10);
@theme-color-secondary-darkest: darken(@theme-color-secondary, 30);
@theme-color-secondary-lighter: lighten(@theme-color-secondary, 10);
@theme-color-secondary-lightest: lighten(@theme-color-secondary, 30);

@theme-block-bg-color: #f8f8f8;
@theme-block-text-color: #444;
@theme-block-link-color: royalblue;
@theme-block-link-icon-color: lighten(royalblue, 10);

@theme-block-box-shadow-normal: 0 0 4px 3px #00000030;
@theme-block-border-radius: 3px;

@theme-button-border-radius: 3px;
@theme-input-border-radius: 3px;
@theme-iconbutton-size: 30px;

@theme-navtree-link-icon-color: #00000030;
@theme-navtree-link-color: #444444;

@theme-navtree-parent-of-current-icon-color:#00000090;
@theme-navtree-parent-of-current-color: #000000;

@theme-navtree-current-icon-color: @theme-block-link-icon-color;
@theme-navtree-current-color: @theme-block-link-color;

@theme-form-button-color: #444444;
@theme-form-button-icon-color: @theme-form-button-color;
@theme-form-button-border-color: @theme-form-button-color;

@theme-form-button-disabled-color: #777777;
@theme-form-button-disabled-icon-color: @theme-form-button-disabled-color;
@theme-form-button-disabled-border-color: @theme-form-button-disabled-color;


@theme-form-submit-color: @theme-block-link-color;
@theme-form-submit-icon-color: @theme-form-submit-color;
@theme-form-submit-border-color: @theme-form-submit-color;